html {
    height: 100%;
    overflow: hidden;
}

body {
    color: #fff;
    background-color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
    
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Lucida Sans';
}

#test {
    background-color: #fff;
    font-size: 30px;
    color: #000;
}

header {
    perspective: 1px;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header h1 {
    margin-top: -100px;
}

header,
header::before {
    background: 50% 50% / cover;
}

header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(Images/pic2.jpeg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

header * 
{
    font-weight: bold;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 5 0;
}

#BookingButton {
    background: rgba(51, 51, 51, 10);
    transition: all .4s ease-in-out;
}

#BookingButton a {
    text-decoration: none;
    color: #fff;
}

#BookingButton:hover {
    background-color: #000; 
    transform: scale(1.4);
    box-shadow: 5px, #fff;
    transition: all .4s ease-in-out;
}

header button:nth-child(1) {
    margin-top: 50px;
}

header button:nth-child(2) {
    margin-top: 10px;
}

/*hamburger button css*/
* {
    margin: 0;
    padding: 0;
  }

  a.menu-item {
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    transition: all .4s ease-in-out;
  }

  a.menu-item:hover {
    padding-left: 25px;
    transition: all .4s ease-in-out;
  }
  
  /* Icon 1 */
  
  .nav-icon1 {
    width: 40px;
    height: 36px;
    position: fixed;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  .nav-icon1.open {
      left: 8.5%;
  }

  .nav-icon1:hover span:nth-child(1) {

  }
  
  .nav-icon1 span {
    display: block;
    position: fixed;
    height: 6px;
    width: 100%;
    /*background: #d3531a;*/
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .5s cubic-bezier(.77,.06,.28,.85);
  }
  
  .nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  .nav-icon1 span:nth-child(2) {
    top: 12px;
  }
  
  .nav-icon1 span:nth-child(3) {
    top: 24px;
  }

  .nav-icon1 span:nth-child(4) {
    top: 36px;
  }
  
  .nav-icon1.open span:nth-child(1) {
    top: 18px;
    left: 15px;
    background-color: #fff;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .nav-icon1.open span:nth-child(2) {
      opacity: 100%;
      top: 22px;
    left: 30px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .nav-icon1.open span:nth-child(3) {
    top: 18px;
    left: -10px;
    background-color: #fff;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .nav-icon1.open span:nth-child(4) {
      top: 22px;
      left: -25px;
      background-color: #fff;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  /*hide side menu*/
  .container2{
      margin-left: 0;
      transition: all .75s cubic-bezier(.77,.06,.28,.85);
      
  }

  .container2.push {
    margin-left: 20%;
    transition: all .75s cubic-bezier(.77, .06, .28, .85);
  }
  
  .hamburgerBtn{
      display: block;
      z-index: 1000;
      position: fixed;
      top: 20px;
      left: 20px;
  }
  
  .hamburgerBtn span{
      background-color: #343434;
  }

  .table {
    display: table;
    height: 50%;
    width: 100%;
  }

  .cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .menu {
    position: fixed;
    top: 0px;
    left: -50%;
    width: 20%;
    height: 100vh;
    z-index: 98;
    background: rgb(51, 51, 51);
    transition: all 0.75s cubic-bezier(.77,.06,.28,.85);
  }

  .menu.open {
    left: 0;
    box-shadow: 1px 0px 5px #222;
  }




  /*
  SAker att kolla på på månd

  1. Göra om parralx

  2. Menyn åker in / ut olika snabbt

  3. lägga till footer, kontakt o insta
  */