
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

html {
    height: 100%;
    overflow: hidden;
}

body {
    color: #fff;
    /* Fixa color gradiant */
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

button.btn:active {
    outline: none !important;
    border: none !important;
}

button:focus {
    outline: 0;
}

#test {
    background-color: #fff;
    font-size: 30px;
    color: #000;
}

header {
    perspective: 1px;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

#plx2 {
    background: url(Images/pic2.jpeg);
    min-height: 100vh;
    z-index: 100;
    width: 100vw;
    box-sizing: border-box;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    margin-top: -100px;
}

/* header,
header::before {
    background: 50% 50% / cover;
}

header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(Images/pic2.jpeg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
} */

header * {
    font-weight: bold;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 5 0;
}

#BookingButton {
    background: rgba(51, 51, 51, 10);
    transition: all .4s ease-in-out;
}

#BookingButton a {
    text-decoration: none;
    color: #fff;
}

#BookingButton:hover {
    background-color: #000;
    transform: scale(1.4);
    box-shadow: 5px, #fff;
    transition: all .4s ease-in-out;
}

header button:nth-child(1) {
    margin-top: 50px;
}

header button:nth-child(2) {
    margin-top: 10px;
}

/*hamburger button css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a.menu-item {
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

a.menu-item:hover {
    padding-left: 25px;
    transition: all .4s ease-in-out;
}

/* Icon 1 */

.nav-icon1 {
    width: 40px;
    height: 36px;
    position: fixed;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.nav-icon1.open {
    left: 8.5%;
}

.nav-icon1:hover span:nth-child(1) {}

.nav-icon1 span {
    display: block;
    position: fixed;
    height: 6px;
    width: 100%;
    /*background: #d3531a;*/
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .5s cubic-bezier(.77, .06, .28, .85);
}

.nav-icon1 span:nth-child(1) {
    top: 0px;
}

.nav-icon1 span:nth-child(2) {
    top: 12px;
}

.nav-icon1 span:nth-child(3) {
    top: 24px;
}

.nav-icon1 span:nth-child(4) {
    top: 36px;
}

.nav-icon1.open span:nth-child(1) {
    top: 18px;
    left: 15px;
    background-color: #fff;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.nav-icon1.open span:nth-child(2) {
    opacity: 100%;
    top: 22px;
    left: 30px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nav-icon1.open span:nth-child(3) {
    top: 18px;
    left: -10px;
    background-color: #fff;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.nav-icon1.open span:nth-child(4) {
    top: 22px;
    left: -25px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*hide side menu*/

.container2 {
    margin-left: 0;
    transition: all .75s cubic-bezier(.77, .06, .28, .85);
}

.container2.push {
    margin-left: 20%;
    transition: all .75s cubic-bezier(.77, .06, .28, .85);
}

.hamburgerBtn {
    display: block;
    z-index: 1000;
    position: fixed;
    top: 20px;
    left: 20px;
}

.hamburgerBtn span {
    background-color: #343434;
}

.table {
    display: table;
    height: 50%;
    width: 100%;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.menu {
    position: fixed;
    top: 0px;
    left: -20%;
    width: 20%;
    height: 100vh;
    z-index: 98;
    background: rgb(51, 51, 51);
    transition: all 0.75s cubic-bezier(.77, .06, .28, .85);
}

.menu.open {
    left: 0;
    box-shadow: 1px 0px 5px #222;
}

#continueButton {
    margin-top: 20%;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.arrow {
    z-index: 501;
    opacity: 0;
    position: fixed;
    top: 90%;
    left: 48.5%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    -webkit-animation: arrow-movement 2s ease-in-out infinite;
    animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
    -webkit-animation: arrow-movement 2s 1s ease-in-out infinite;
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
}

.arrow:before {
    -webkit-transform: rotate(45deg) translateX(-23%);
    transform: rotate(45deg) translateX(-23%);
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.arrow:after {
    -webkit-transform: rotate(-45deg) translateX(23%);
    transform: rotate(-45deg) translateX(23%);
    -webkit-transform-origin: top right;
    transform-origin: top right;
}

@-webkit-keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 85%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 85%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.column {
    margin-top: 10%;
    color: #000;
    flex: 1;
    margin: 2px;
    padding: 10px;
}

#plx {
    z-index: 100;
    background: url(Images/pic1.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#IconCollection {
    text-align: center;
    align-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.CollectionImg {
    height: 120px;
    padding: 30px;
    background-color: rgba(51, 51, 51, 0.400);
    border-radius: 50%;
    margin-bottom: 5%;
    transition: all .4s ease-out;
}

.CollectionImg:hover {
    transform: scale(1.4);
    transition: all .4s ease-out;
}

#pricingSection {
    color: #000;
}

h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  table{
    width:100%;
    table-layout: fixed;
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
    height:100%;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
  }
  th{
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  
  
  /* demo styles */
  
  #pricingSection{
      height: 111%;
    background: -webkit-linear-gradient(left, #333333, #000);
    background: linear-gradient(to right, #333333, #000);
    padding-top: 50px;
    margin-bottom:50px;
  }

  /* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(161, 161, 161, 0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0); 
}

#stop,
#stop2 {
    background: transparent;
    color: #fff;
    transition: all .4s ease-in-out;
}

#stop:hover,
#stop2:hover {
    transform: rotate(20deg);
    transition: all .4s ease-in-out;
}

@media screen and (max-width: 980px) {
    .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;
    }
}

@media screen and (max-width: 680px) {
    .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}

/*KONTAKT*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.contact {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    display: inline-flex;
    margin: 10px 5px;
    min-width: 220px;
    max-width: 310px;
    max-height: 310px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.contact * {
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

figure.contact img {
    opacity: 0.25;
    max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

figure.contact figcaption {
    position: absolute;
    top: 50%;
    left: 30px;
    right: 30px;
    -webkit-transform: rotate(0deg) translateY(-50%) scale(1);
    transform: rotate(0deg) translateY(-50%) scale(1);
    -webkit-transform-origin: center 0;
    transform-origin: center 0;
}

figure.contact figcaption h2 {
    top: 50%;
    letter-spacing: -1px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0;
    font-weight: 400;
}

figure.contact figcaption h2 span {
    font-weight: 800;
}

figure.contact figcaption:before,
figure.contact figcaption:after {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 2px;
    position: absolute;
    content: "";
    display: block;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

figure.contact figcaption:before {
    left: 0;
    top: 0;
}

figure.contact figcaption:after {
    bottom: 0;
    right: 0;
}

figure.contact.overlay {
    background: #000000;
}

figure.contact a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

figure.contact:hover img,
figure.contact.hover img {
    opacity: 1;
}

figure.contact:hover figcaption,
figure.contact.hover figcaption {
    -webkit-transform: rotate(-45deg) translateY(-50%) scale(0.9);
    transform: rotate(-45deg) translateY(-50%) scale(0.9);
}

figure.contact:hover figcaption:before,
figure.contact.hover figcaption:before,
figure.contact:hover figcaption:after,
figure.contact.hover figcaption:after {
    width: 200%;
}

.contactdiv {
    /*GÖR SÅ BILDERNA HAMNAR I SNYGG ALGINMENT*/
    text-align: center;
}

blockquote {
    background-position: 10px 10%;
    background-repeat: no-repeat no-repeat;
    padding: 150px 0;
}

p.quote {
    color: #000000;
    background: #ffffff;
    font-size: 75px;
    line-height: 74px;
    font-weight: 700;
    margin: 0 5px 24px;
    float: left;
    padding: 10px;
    margin: 0 5px 24px;
    font-family: 'Libre Baskerville', serif;
}

p.punchline {
    background: #000000;
    color: #ffffff;
    font-size: 75px;
    line-height: 74px;
    font-weight: 700;
    margin: 0 5px 24px;
    float: left;
    padding: 10px;
    margin: 0 5px 24px;
    font-family: 'Libre Baskerville', serif;
}

a.qt {
    color: #adadad;
    font-size: 25px;
    text-decoration: none;
    float: right;
    font-family: 'Libre Baskerville', serif;
}

/*
  SAker att kolla på på månd

  1. Göra om parralx

  2. Menyn åker in / ut olika snabbt

  3. lägga till footer, kontakt o insta 
  
  4. fixa push på contentarea 1  o 2*/