@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:700);
html {
    height: 100%;
    overflow: hidden;
}

body {
    /* Fixa color gradiant */
    background-color: rgb(155, 155, 155);
    margin: 0;
    padding: 0;
    height: 100%;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
}

button.btn:active {
    outline: none !important;
    border: none !important;
}

button:focus {
    outline: 0;
}

.scrollTop {
    margin-left: 25px;
    border: 0;
    margin-bottom: 25px;
    text-align: left;
}

img {
    
    background: url(Images/Arrow\ up.png);
}

img:hover {
    background: url(Images/Arrow\ up2.png);
}

header {
    perspective: 1px;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

#plx2 {
    background: url(Images/blackhite-bun.jpg);
    min-height: 100vh;
    z-index: 100;
    width: 100vw;
    box-sizing: border-box;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    font-family: 'Noto Serif', serif;
    margin-top: -10%;
    font-size: 60px;
    font-weight: bold;
}

header * {
    font-weight: bold;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 5 0;
}

#BookingButton {
    background: rgba(51, 51, 51, 10);
    transition: all .4s ease-in-out;
}

#BookingButton a {
    text-decoration: none;
    color: #fff;
}

#BookingButton:hover {
    background-color: #000;
    transform: scale(1.4);
    box-shadow: 5px, #fff;
    transition: all .4s ease-in-out;
}

header button:nth-child(1) {
    margin-top: 50px;
}

header button:nth-child(2) {
    margin-top: 10px;
}

/*hamburger button css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a.menu-item {
    color: inherit;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

a.menu-item:hover {
    color: inherit;
    padding-left: 10px;
    transition: all .4s ease-in-out;
}

/* Icon 1 */

.nav-icon1 {
    width: 40px;
    height: 36px;
    position: fixed;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.nav-icon1 span {
    display: block;
    position: fixed;
    height: 7px;
    width: 100%;
    /*background: #d3531a;*/
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .5s cubic-bezier(.77, .06, .28, .85);
}

.nav-icon1 span:nth-child(1) {
    top: 0px;
}

.nav-icon1 span:nth-child(2) {
    top: 12px;
}

.nav-icon1 span:nth-child(3) {
    top: 24px;
}

.nav-icon1 span:nth-child(4) {
    top: 36px;
}

.nav-icon1.open span:nth-child(1) {
    top: 18px;
    left: 15px;
    background-color: #fff;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.nav-icon1.open span:nth-child(2) {
    opacity: 100%;
    top: 22px;
    left: 30px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nav-icon1.open span:nth-child(3) {
    top: 18px;
    left: -10px;
    background-color: #fff;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.nav-icon1.open span:nth-child(4) {
    top: 22px;
    left: -25px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.headlinedavi {
    margin-top: 10%;
    font-family: 'Noto Serif', serif;
    font-size: 60px;
    font-weight: bold;
}

.headline {
    margin-top: -5%;
    font-family: 'Noto Serif', serif;
    font-size: 60px;
    font-weight: bold;
}

.mapheadline {
    margin-top: 5%;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

.wrapper {}

.hamburgerBtn {
    display: block;
    z-index: 1000;
    position: fixed;
    top: 20px;
    left: 20px;
}

.hamburgerBtn span {
    background-color: #343434;
}

.table {
    display: table;
    height: 50%;
    width: 100%;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.menu {
    position: fixed;
    top: 0px;
    left: -30%;
    width: 20%;
    height: 100vh;
    z-index: 98;
    transition: all 0.75s cubic-bezier(.77, .06, .28, .85);
}

.menu.open {
    background-color: #333;
    color: white;
    left: 0;
}

#continueButton {
    margin-top: 20%;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.arrow {
    z-index: 501;
    opacity: 0;
    position: fixed;
    top: 90%;
    left: 48.5%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    -webkit-animation: arrow-movement 2s ease-in-out infinite;
    animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
    -webkit-animation: arrow-movement 2s 1s ease-in-out infinite;
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
}

.arrow:before {
    -webkit-transform: rotate(45deg) translateX(-23%);
    transform: rotate(45deg) translateX(-23%);
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

.arrow:after {
    -webkit-transform: rotate(-45deg) translateX(23%);
    transform: rotate(-45deg) translateX(23%);
    -webkit-transform-origin: top right;
    transform-origin: top right;
}

@-webkit-keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 85%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 85%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.columns {
    background: -webkit-linear-gradient(to left, #333333, #000);
    background: linear-gradient(to left, #333333, #000);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.column {
    margin-top: 10%;
    color: #000;
    flex: 1;
    margin: 2px;
    padding: 10px;
}

#plx {
    z-index: 100;
    background: url(Images/flowers.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.mid {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

#IconCollection {
    text-align: center;
    align-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.CollectionImg {
    height: 120px;
    padding: 30px;
    background-color: rgba(51, 51, 51, 0.600);
    border-radius: 50%;
    margin-bottom: 5%;
    transition: all .4s ease-out;
}

.mid h3 {
    font-family: 'Noto Serif', serif;
    color: #fff;
}

.CollectionImg:hover {
    transform: scale(1.4);
    transition: all .4s ease-out;
}

#pricingSection {
    color: #000;
    overflow: hidden;
}

h1 {
    font-size: 30px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.tbl {
    margin-bottom: 10%;
    table-layout: fixed;
}

th {
    padding: 20px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

fb-page {
    text-align: center;
}

.snapwidget {
    margin-top: 10px;
}

@media screen and (max-width: 720px) {
    .snapwidget.mobile {
        display: block;
    }
    .snapwidget.desktop {
        display: none;
    }
}

@media screen and (min-width: 721px) {
    .snapwidget.desktop {
        display: block;
    }
    .snapwidget.mobile {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .menu {
        width: 30%;
    }
}

@media screen and (max-width: 300px) {
    .menu {
        width: 30%;
        height: 150vh;
    }
}

#PriceHeading {
    color: #fff;
    font-family: 'Noto Serif', serif;
    font-size: 45px;
    font-weight: bold;
}

/* demo styles */

#pricingSection {
    height: 111%;
    background: -webkit-linear-gradient(to left, #333333, #000);
    background: linear-gradient(to left, #333333, #000);
    padding-top: 50px;
    margin-bottom: 50px;
}

#stop {
    background: transparent;
    color: #fff;
    margin-bottom: 25px;
    margin-left: 25px;
    border: 0;
    border-radius: 50%;
    transition: all .4s ease-in-out;
}

#stop:hover{
    transform: rotate(20deg);
    transition: all .4s ease-in-out;
}

@media screen and (max-width: 980px) {
    .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;
    }
}

@media screen and (max-width: 680px) {
    .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}

/*KONTAKT*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.contact {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    display: inline-flex;
    margin: 10px 5px;
    min-width: 220px;
    max-width: 310px;
    max-height: 310px;
    overflow: hidden;
    text-align: center;
    background: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.contact * {
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

figure.contact img {
    opacity: 0.25;
    max-width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

figure.contact figcaption {
    position: absolute;
    top: 50%;
    left: 30px;
    right: 30px;
    -webkit-transform: rotate(0deg) translateY(-50%) scale(1);
    transform: rotate(0deg) translateY(-50%) scale(1);
    -webkit-transform-origin: center 0;
    transform-origin: center 0;
}

figure.contact figcaption h2 {
    top: 50%;
    letter-spacing: -1px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0;
    font-weight: 400;
}

figure.contact figcaption h2 span {
    font-weight: 800;
}

figure.contact figcaption:before,
figure.contact figcaption:after {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 2px;
    position: absolute;
    content: "";
    display: block;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

figure.contact figcaption:before {
    left: 0;
    top: 0;
}

figure.contact figcaption:after {
    bottom: 0;
    right: 0;
}

figure.contact.overlay {
    background: #000000;
}

figure.contact a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

figure.contact:hover img,
figure.contact.hover img {
    opacity: 1;
}

figure.contact:hover figcaption,
figure.contact.hover figcaption {
    -webkit-transform: rotate(-45deg) translateY(-50%) scale(0.9);
    transform: rotate(-45deg) translateY(-50%) scale(0.9);
}

figure.contact:hover figcaption:before,
figure.contact.hover figcaption:before,
figure.contact:hover figcaption:after,
figure.contact.hover figcaption:after {
    width: 200%;
}

.contactdiv {
    text-align: center;
}

blockquote {
    background-position: 10px 10%;
    background-repeat: no-repeat no-repeat;
    padding: 150px;
}

p.quote {
    color: #ffffff;
    font-size: 17px;
    margin-left: 2%;
    float: left;
    font-family: 'Noto Serif', serif;
}

p.punchline {
    color: #ffffff;
    font-size: 75px;
    line-height: 74px;
    font-weight: 700;
    margin-left: 2%;
    float: left;
    padding: 10px;
    font-family: 'Noto Serif', serif;
}

.contactInfo {
    color: #000;
}

.contactInfo h2 {
    text-align: center;
}

.footerIcon {
    transition: all .4s cubic-bezier(.77, .06, .28, .85);
}

.footerIcon:hover {
    transform: rotate(30deg);
    transition: all .4s cubic-bezier(.77, .06, .28, .85);
}

#plx3 {
    z-index: 100;
    background: url(Images/girlhat-bw.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.Time {
    text-align: center;
}

.footerIconfacebook {
    width: 20px;
}

.footerIconinstagram {
    width: 20px;
    margin: 20px;
}

a.watermark {
    transition: all .4s ease-in-out;
    color: rgb(70, 70, 70);
    cursor: pointer;
    vertical-align: bottom;
}

a.watermark:hover {
    color: rgb(31, 31, 31);
    transition: all .4s ease-in-out;
}

.watermarkLink {}