html {
    height: 100%;
    overflow: hidden;
}

body {
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Lucida Sans';
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header h1 {
    margin-top: -100px;
}

header,
header::before {
    background: 50% 50% / cover;
}

header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(Images/pic2.jpeg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

header * 
{
    font-weight: bold;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 5 0;
}


/*hamburger button css*/
* {
    margin: 0;
    padding: 0;
  }
  
  /* Icon 1 */
  
  .nav-icon1 {
    width: 40px;
    height: 36px;
    position: fixed;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  .nav-icon1 span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    /*background: #d3531a;*/
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  .nav-icon1 span:nth-child(1) {
    top: 0px;
  }
  
  .nav-icon1 span:nth-child(2) {
    top: 12px;
  }
  
  .nav-icon1 span:nth-child(3) {
    top: 24px;
  }

  .nav-icon1 span:nth-child(4) {
    top: 36px;
  }
  
  .nav-icon1.open span:nth-child(1) {
    top: 18px;
    left: 15px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .nav-icon1.open span:nth-child(2) {
      opacity: 100%;
      top: 22px;
    left: 30px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .nav-icon1.open span:nth-child(3) {
    top: 18px;
    left: -10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .nav-icon1.open span:nth-child(4) {
      top: 22px;
      left: -25px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  /*hide side menu*/
  .sideMenuWrapper{
      display: none;
      width: 300px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      position: fixed;
      top: 0;
      left: 0;
  }

  .down-arrow{
      position: relative !important;
      right: 15px !important;
      top: 17px !important;
      float: right;
      color: #fff;
  }
  
  .hamburgerBtn{
      display: none;
      z-index: 1000;
      position: fixed;
      top: 60px;
      left: 20px;
  }
  
  .hamburgerBtn span{
      background-color: #343434;
  }
  /*mobile view css*/
  @media screen and (max-width: 760px) {
      /*hamburgerBtn*/
      .hamburgerBtn{
          display: block;
      }
  }

